h1
{
    color: darkcyan;
    font-size: 40px;
    font-weight: bold;
}

h2
{
    color: orangered;
    font-size: 30px;
    font-weight: bold;
}

p
{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
body
{
    background-color: cornsilk;
}
td
{
    color: firebrick;
    font-size: 20px;
    font-weight: bold;
}

th
{
    color: royalblue;
    font-size: 20px;
    font-weight: bold;
}
